<div class="row" style="background-color:#ADD8E6;">
  <div style="padding-left:35px">
  	<div style="float:left">
  		<h3>User Analytics Dashboard</h3>
  	</div>
  	<div style="float:right;">
  	  <div style="width:200px;display:inline;">
  	  	<span class="label">Product Name</span>
  	  	<select class="form-control"><option>Select</option></select>
  	  </div>
  	  <div style="width:200px;display:inline;">
  	  	<span class="label">Customer Name</span>
  	  	<select class="form-control"><option>Select</option></select>
  	  </div>
  	  <div style="width:200px;display:inline;">
  	  	<span class="label">User Role</span>
  	  	<select class="form-control"><option>Select</option></select>
  	  </div>
  	</div>
  	<div style="clear:both;"></div>
  </div>
  <div style="clear:both;"></div>
  <div class="container" style="background-color:white;height:400px">
  White
  </div>
</div>
